.title {
    font-family: Poppins;
    color: #F89A23;
    font-size: 19.66px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sidebar-title{
    color: var(--primary-3, #2D60FF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.avatar{
    color: #505887;
/* Text sm / Semibold */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}