.addTransaction{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 12px;
background-color: #2D60FF;
border-style: "none";
}